<form id="newgame" action="/game/create" method="post">
    <label for="gamename">Game name:</label>
    <input type="text" form="newgame" name="gamename" class="form-question" />
    <input type="submit" class="submit-button btn" value="Submit" />
</form>
