<div class="games">
    <% @games.reverse.each do |game| %>
        <div class="game"><a href="/game/<%= game.id %>"><%= game.name %></a>
            <% board = game.get_board %>
            <% if board.game_over %>
                <span class="results">Winner: <%= board.current_player %></span>
            <% end %>
        </div>
    <% end %>
</div>
