<!DOCTYPE HTML>
<html>
    <head>
        <title>Machi Koro</title>
        <link rel="stylesheet" type="text/css" href="<%=url("/assets/css/game.css") %>" />
    </head>
    <body>
        <div id="board" >
            <div id="player-area">
                <div id="current-player">
                </div>
                <div id="diceroll">
                    <div id="diceone">
                    </div>
                    <div id="dicetwo">
                    </div>
                    <div id="diceresults">
                    </div>
                    <div id="rolldice">
                    </div>
                    <div id="pay-out">
                    </div>
                    <div id="harbor" >
                    </div>
                </div>
            </div>
            <div id="special-uses">
                <div id="tv-station-form">
                    <label for="tv-station-target">TV Station target: </label>
                    <input id="tv-station-target" type="text" form="tv-station-form" name="tv-station-target" />
                    <input id="tv-station-submit" type="submit" class="submit-button btn" value="Submit" />
                </div>
                <div id="business-center-form">
                    <label for="business-center-own-card">card to send:</label>
                    <select id="business-center-own-card" type="text" form="business-center-form">
                    </select>
                    <label for="business-center-target-player">target player: </label>
                    <select id="business-center-target-player" type="text" form="business-center-form" name="business-center-target">
                    </select>
                    <label for="business-center-target-card">target card: </label>
                    <input id="business-center-target-card" type="text" form="business-center-form" />
                    <input id="business-center-submit" type="submit" class="submit-button btn" value="Submit" />
                </div>
            </div>
            <div id="field">
            </div>
            <div id="log">
            </div>
            <div id="message-area" >
                <input id="message-input" name="message-input" type="text" >
                <input type="submit" value="Send" id="message-send">
            </div>
            <div class="player-div" >
                <div id="players">
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/assets/js/application.js"></script>
        <script type="text/javascript">
         displayBoard(<%=@board.to_json %>);
        </script>
    </body>
</html>
