#players {
    display: flex;
    flex-direction: row;
    margin: 0.1em;
}

#upper-row {
    display: flex;
}

#field {
    width: 80%;
}

#log {
    float: right;
}

.player-div {
    margin: 1em;
}

.player-card {
    margin-left: 1em;
}

.player-improvement {
    margin-left: 1em;
}

.buy-button {
    margin-left: 0.5em;
}

.roll-button {
    width: 6em;
    height: 6em;
}

