:root {
  --text-color: #dcdcdc;
}

body {
  background-color: #343434;
  color: var(--text-color);
}

button {
  color: black;
}

#board {
  display: grid;
  grid-template-areas:
    "player-area .   .            log"
    "special special message-area log"
    "field   field   message-area log"
    "field   field   message-area log"
    "players players players      players";
  row-gap: 0.8em;
  grid-template-columns: 1fr 0.8fr repeat(3, 0.5fr);
  margin-top: 1.5em;
  margin-left: 1em;
  margin-right: 0.5em;
}

#player-area {
  grid-area: player-area;
  display: flex;
  gap: 2em;
  align-items: center;
}

#players {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

#diceroll {
  grid-area: die;
  display: flex;
  flex-direction: row;
}

#field {
  grid-area: field;
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5em;
  row-gap: 1.5em;
}


#log {
  grid-area: log;
  max-width: 30em;
}

#message-area {
  grid-area: message-area;
}

#special-uses {
  grid-area: special;
}

.player-div {
  grid-area: players;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.player-card {
    margin-left: 1em;
}

.player-improvement {
    margin-left: 1em;
}

.buy-button {
  margin-left: 0.5em;
  color: black;
}

.roll-button {
    width: 6em;
    height: 6em;
}

.explanation {
  color: var(--text-color);
  width: 30em;
  border: 1px solid;
  border-radius: 50%;
  padding-left: 0.4em;
  padding-right: 0.4em;
  margin-left: 1em;
}

.pass {
  width: 5em;
  height: 4em;
}

.imp-active-false {
  color: grey;
}

.imp-active-true {
  color: #fcc200;
}

.blue {
  color: lightblue;
}

.green {
  color: lightgreen;
}

.purple {
  color: pink;
}

.red {
  color: #ff3800;
}
